.mid-header .content_header .header-right .header-account ul {
  position: absolute;
  min-width: 200px;
  border: 1px solid #e5e5e5;
  z-index: 999;
  display: none;
}

.mid-header .content_header .header-right .header-account {
  position: absolute;
  top: 25px;
  right: 120px;
  min-width: 100px;
}

.mid-header .input-group-field {
  border: 1px solid #232323;
  height: 36px;
  border-right: none;
  padding: 0 20px;
  font-size: 12px;
  outline: none;
}

.mid-header .header-right .header-account > a {
  margin-top: 7px;
  display: block;
  font-size: 14px;
  color: #232323 !important;
  font-weight: 500;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.mini-cart .heading-cart .bg_cart {
  margin-top: 7px;
  display: block;
  font-size: 14px;
  color: #232323 !important;
  font-weight: 500;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.mid-header
  .header-left
  .header_search
  .search-bar
  .input-group-btn
  .icon-fallback-text {
  background: #232323;
  height: 36px;
  padding: 0 25px;
  outline: none;
  border-radius: 0;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
}

.dropAcc {
  button {
    background: white !important;
    color: black !important;
    border: solid 1px white;
    outline: none !important;
    font-weight: 500;
  }
  .dropdown-menu {
    z-index: 99999;
  }
}

.drop-user {
  .show {
    z-index: 99999999;
  }
  .dropdown-toggle::after {
    display: none;
  }
  a {
    span {
      font-size: 14px;
      color: #232323 !important;
      font-weight: 500;
      position: relative;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.cart {
  a {
    font-size: 14px;
    color: #232323 !important;
    font-weight: 500;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
}

.header-right {
  ul {
    align-items: center;
  }

  .navbar-expand {
    justify-content: flex-end;
  }
}
